.navbar-brand {
	font-size: 200%
}

#nav-list a {
	background-color: orange;
	color: black;
	text-align: center;
}
#nav-list a:hover {
	background-color: white;
}

#theRow {
	height: 1000px;	
	background-color: yellow;
	margin: 15px;	
}

#theSectionTitle {
	margin: 15px;	
	font-size: 150%;
}
#theSectionContent {
	margin: 15px;	
}